$custom-checkbox-size: 20px !default;
$custom-checkbox-color: #F5F4F4 !default;
$custom-checkbox-selected-color: #5FA4F4 !default;

/* Customize the label (the container) */
.checkbox_container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: $custom-checkbox-size;
    width: $custom-checkbox-size;
    background-color: $custom-checkbox-color;
}

/* On mouse-over, add a darker background color */
.checkbox_container:hover input ~ .checkmark {
    background-color: darken($custom-checkbox-color, 25%);
}

/* When the checkbox is checked, add a background colour */
.checkbox_container input:checked ~ .checkmark {
    border: 1px solid $custom-checkbox-selected-color;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox_container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox_container .checkmark:after {
    left: 7px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid $custom-checkbox-selected-color;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
